[submodule "ap-common"]
	path = ap-common
	url = https://github.com/jewzaam/ap-common.git
[submodule "ap-move-raw-light-to-blink"]
	path = ap-move-raw-light-to-blink
	url = https://github.com/jewzaam/ap-move-raw-light-to-blink.git
[submodule "ap-preserve-header"]
	path = ap-preserve-header
	url = https://github.com/jewzaam/ap-preserve-header.git
[submodule "ap-cull-light"]
	path = ap-cull-light
	url = https://github.com/jewzaam/ap-cull-light.git
[submodule "ap-create-master"]
	path = ap-create-master
	url = https://github.com/jewzaam/ap-create-master.git
[submodule "ap-move-master-to-library"]
	path = ap-move-master-to-library
	url = https://github.com/jewzaam/ap-move-master-to-library.git
[submodule "ap-move-light-to-data"]
	path = ap-move-light-to-data
	url = https://github.com/jewzaam/ap-move-light-to-data.git
[submodule "ap-empty-directory"]
	path = ap-empty-directory
	url = https://github.com/jewzaam/ap-empty-directory.git
[submodule "ap-copy-master-to-blink"]
	path = ap-copy-master-to-blink
	url = https://github.com/jewzaam/ap-copy-master-to-blink.git
[submodule "standards"]
	path = standards
	url = https://github.com/jewzaam/standards.git
